QPushButton {
    border: none;
                           
    color: white;
    font-size: 32px;
    font-family: fusion pixel proportional;

    border-color: transparent;  
    border-image: url(./Images/Buttons/Sqr.png);
}

QPushButton:pressed {
    border-image: url(./Images/Buttons/SqrHover.png);
}